.top-catboy {
    background-color: #d9b4e2;
    overflow: hidden;
}

.top-catboy a {
    font-family: Bebas;
    padding: 0.5rem 1rem;
    padding-right: 1rem;
    color: black;
    font-size: 0.8rem;
    text-align: center;
    float: left;
    text-decoration: none;
    transition: 0.7s;
}

.top-catboy a:hover {
    background-color: #e9cff0;
}

.btm-catboy { 
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: #ccbcf1;
    padding: 0px 0px;
    width: 100%;
    color: black;
}

.btm-center-catboy {
    display: flex;
    justify-content: center;
    font-family: built;
}

.btn-catboy-main {
    background-color: #76c6d4;
    color: black;
    padding: 8px 10px; 
    border-radius: 1rem;
    transition: 0.7s;
    border: none;
}

.btn-catboy-main:hover {
    border-radius: 0.4rem;
    background-color: #6de9ff;
}

.catboy-logo {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.catboy {
    width: auto;
    height: auto;
    margin-top: 3rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px , 0 0 35px rgb(0, 0, 0);
    max-width: 20rem;
    max-height: 20rem;
    transition: ease-in-out 0.7s;
}

.catboy:hover {
    margin-top: 10%;
    transform: scale(1.5);
}

.main-catboy-content {
    display: flex;
    justify-content: center;
}

.catboy-btn-container {
    display: flex;
    justify-content: center;
}
