@media (min-width: 1280px) {
    :root { font-size: 20px }

    .catboy {
        margin-top: 3rem; 
    }
}

@media (min-width: 1919px) {
    .logo { 
        width: 2rem;
        height: 2rem;
    }

    .catgirl-logo {
        width: 2rem;
        height: 2rem;
    }

    :root { font-size: 25px }
}

@media (main-width: 768px) {
    .home-coffee {
        margin-top: 1rem;
    }
}

body {
    background-color:#ecc1d1;
    margin: 0; 
}

@font-face {
    font-family: built;
    src: url("/static/fonts/built.ttf");
}

@font-face {
    font-family: Bebas;
    src: url("/static/fonts/BebasKai.ttf")
}

@font-face {
    font-family: Rubik;
    src: url("/static/fonts/Rubik-Regular.ttf");
}

p {
    font-family: Bebas;
    color: black;
}

.active {
    background-color: #e9cff0;
}