{% extends "base.html" %}

{% block head %}
 <title>Cat Cafe!</title>
 <link rel="icon" href="/static/images/assets/icon_50x50.png" type="x/icon">
{% endblock %}

{% block body %}
<div  class="top-catboy">
    <a href="/home">
        Home!
    </a>
    <a href="/catboys" class="active">
        Cat Boys!
    </a>
    <a href="/catgirls">
        Cat Girls!
    </a>
</div>

<div class="btm-catboy">
    <div class="btm-center-catboy">
        <p>Powered by:</p>
        <a href="http://catboys.com" target="_blank">
            <img src="./static/images/assets/catboyslogo.png" alt="logo" class="catboy-logo"/>
        </a>
    </div>
</div>

<div class="main-catboy-content">
    <img src="{{ catboy_image }}" alt="death" class="catboy"/>
</div>

<br>
<div class="catboy-btn-container">
    <form action="/catboys" method="post">
        <input type="submit" value="More CatBoys!" name="NewCat" class="btn-catboy-main"/>
    </form>
</div>

{% endblock %}