{% extends "base.html" %}

{% block head %}
<title>Cat Cafe!</title>
<link rel="icon" href="/static/images/assets/icon_50x50.png" type="x/icon">
{% endblock %}


{% block body %}
<div class="top-catgirl">
    <a href="/home">
        Home!
    </a>
    <a href="/catboys">
        Cat Boys!
    </a>
    <a href="/catgirls" class="active">
        Cat Girls!
    </a>
    <div class="support-container">
        <a href="https://paypal.me/natserra?country.x=RO&locale.x=en_US" target="_blank">
            <p class="support">Support</p>
        </a>
    </div>
</div>
<div class="top-catgirl-under">
    <a href="/catgirls" class="mini-bar-active">
        Neko
    </a>
    <a href="/avatars">
        Avatars
    </a>
    <a href="">
        Kiss
    </a>
    <a href="">
        Smug
    </a>
    <a href="">
        Hug
    </a>
    <a href="">
        Pat
    </a>
</div>

<div class="main-catgirl-content">
    <img src="{{ catgirl_image }}" class="catgirl" alt="catgirl"/>
</div>
<br>
<div class="btn-container">
    <form action="/catgirls" method="post">
        <input type="submit" class="catgirl-btn" value="More CatGirls!" name="NewCatG"/>
    </form>
</div>

<div class="btm-catgirl">
    <div class="btm-catgirl-center">
        <p class="catgirl-api">Powered by: </p>
        <a href="https://nekos.life/" target="_blank">
            <img src="/static/images/assets/catgirlslogo.png" class="catgirl-logo" alt="Logo"/>
        </a>
    </div>
</div>
{% endblock %}