{% extends "base.html" %}


{% block head %}
<title>Cat Cafe!</title>
<link rel="icon" href="/static/images/assets/icon_50x50.png" type="x/icon">
{% endblock %}


{% block body %}
<div  class="top">
    <a href="/home" class="active">
        Home!
    </a>
    <a href="/catboys">
        Cat Boys!
    </a>
    <a href="/catgirls">
        Cat Girls!
    </a>
    <div class="support-container">
        <a href="https://paypal.me/natserra?country.x=RO&locale.x=en_US" target="_blank">
            <p class="support">Support</p>
        </a>
    </div>
</div>

<div class="main-home-content">
    <p class="home-center">
    <br>Hey! Welcome to the Cat Cafe!
    <br>Here we prioritize cuteness and gerat coffee!
    <br>Have a coffee, and while youre at it why don't you look at your selection of cats at the top?
    <br>Check out the github link for the page, it's at the bottom!
    <br>We'd love to see what you think!
    </p>
</div>

<div class="home-coffee-container">
    <img src="/static/images/assets/coffee-steaming-main.gif" alt="coffee" class="home-coffee"/>
</div>


<div class="btm-center-under"> 
    <a href="https://github.com/omoNattie/CatCafe">
        <img src="/static/images/assets/GitHub-Mark-32px.png" class="git-logo"/>
    </a>
</div>
{% endblock %}